.view-container {
    padding: 3rem;
    font-size: 1.25rem;
    color: #ccc;
    position: relative;
}

.view-container label {
    display: inline-block;
    margin-bottom: 1rem;
}

.view-container input {
    background-color: #222;
    font: inherit;
    padding: .5rem;
    outline: none;
    border: none;
    margin-left: 1rem;
    color: #ccc;
}
