.sidebar-button {
    color: #aaa;
    font-size: 1rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0 2rem;
    cursor: pointer;
    overflow: hidden;
}

.sidebar-button:active {
    background-color: #aaa;
    color: black;
}
