.sidebar-panel {
    border-bottom: 1px dotted #777;
    color: #aaa;
}

.sidebar-panel__heading {
    height: 4rem;
    line-height: 4rem;
    padding: 0 1rem;
    text-transform: uppercase;
    color: #aaa;
    cursor: pointer;
}
.sidebar-panel__heading:active {
    background-color: #aaa;
    color: black;
}
